body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-image: url(img4.jpeg);
  background-position: 225px;
  background-color: #40a2bf;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.main {
  border-radius: 7%;
  margin-top: 125px;
  margin-left: 420px;
  height: 50%;
  width: 21%;
  background-color: rgba(255, 255, 255, 0.3);
  border: 5px solid white;
  background-image: url(img4.jpeg);
  background-position: center;
  background-size: cover;
  opacity: 80%;

}
.op {
  margin-top: 20px;
  margin-left: 5px;
  border-radius: 15%;
  height: 90px;
  width: 95%;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.4%);
  display: flex;
  justify-content: center;
  align-content: center;
  color: white;
  font-size: 30px;
  border: 2px solid white;
  opacity: 100%;
}

.keys {
  height: 390px;
  width: 100%;
  margin-left: 30px;
  margin-right: 20px;
  opacity: 100%;

}
button {
  height: 60px;
  width: 60px;
}
.one {
  height: 60px;
  width: 65px;
  border-radius: 20%;
  margin-top: 10px;
  font-size: 30px;
  color: black;
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid white;
  
}
.oper {
  background-color: rgb(225, 255, 255,0.3);
  height: 60px;
  width: 66px;
  border-radius: 20%;
  margin-top: 10px;
  font-size: 30px;
  border: 2px solid white;

}
.zero {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(255, 255, 255);
  font-size: 30px;
  height: 65px;
  width: 135px;
  border-radius: 20%;
  margin-top: 10px;
  margin-left: 1px;
  background-image: url(img4.jpeg);
  background-position: center;
  background-size: cover;
  border: 2px solid white;  
  filter: brightness(100%),opacity(100%);
}
